@font-face {
  font-family: "Black"; /*Can be any text*/
  src: local("KumbhSans-Black"),
    url("./fonts/KumbhSans-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Bold"; /*Can be any text*/
  src: local("KumbhSans-Bold"),
    url("./fonts/KumbhSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("KumbhSans-Light"),
    url("./fonts/KumbhSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Medium"; /*Can be any text*/
  src: local("KumbhSans-Medium"),
    url("./fonts/KumbhSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("KumbhSans-Regular"),
    url("./fonts/KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold"; /*Can be any text*/
  src: local("KumbhSans-SemiBold"),
    url("./fonts/KumbhSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraBold"; /*Can be any text*/
  src: local("KumbhSans-ExtraBold"),
    url("./fonts/KumbhSans-ExtraBold.ttf") format("truetype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
